name: Publish release APK

on:
  push:
    branches:
      - release
    paths-ignore:
      - '.idea/**'
      - '.gitattributes'
      - '.github/**.json'
      - '.gitignore'
      - '**.md'
      - 'LICENSE'
      - 'NOTICE'
  pull_request:
    paths-ignore:
      - '.idea/**'
      - '.gitattributes'
      - '.github/**.json'
      - '.gitignore'
      - '**.md'
      - 'LICENSE'
      - 'NOTICE'

jobs:
  build-release-apk:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
      - run: ./gradlew assembleLawnWithQuickstepRelease
      - uses: actions/upload-artifact@v3
        with:
          name: Release APK
          path: |
            build/outputs/apk/lawnWithQuickstep/release/*.apk
            build/outputs/mapping/lawnWithQuickstepRelease/mapping.txt
      - uses: mikepenz/gradle-dependency-submission@v1
        if: github.ref == 'refs/heads/release'
        with:
          gradle-build-configuration: 'lawnWithQuickstepReleaseRuntimeClasspath'
